/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100%;
    font-family: Georgia, serif;
}

.bg-startscreen {
    background: url(assets/noise.png),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
    #211F20;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
    padding: 0 10px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.link {
    display: block;
    color: #f1cdb3;
    text-decoration: none;
    transition: 0.3s;
}

.link.active {
    color: #fafafa;
    border-bottom: 3px solid #f1cdb3;
}

.section {
    padding-top: 80px;
    padding-bottom: 100px;
}

.section-title {
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-align: left;

    color: #545454;
}

.btn {
    padding: 15px 45px;

    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    /* color-dark-3xl */
    color: #292929;
    /* color-primary */
    background: #F1CDB3;
    border-radius: 100px;
    transition: all 0.3s linear;
}

/* Header */
.header {
    padding: 60px 0;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.logo_title {
    /*TODO Граница между блоками */
    padding-bottom: 10px;
    /* logo_title */
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    /* color-primary */
    color: #F1CDB3;

}

.logo_subtitle {
    /* logo_subtitle */
    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    /* color-light-xl */
    color: #FFFFFF;
}

.nav-list {
    column-gap: 36px;
    /*TODO флекс не работает*/
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    font-family: "Arial", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #cdcdcd;
    transition: all 0.3s linear;
}

.nav-item {
    display: flex;
    align-items: center;
}

.nav-link:hover {
    color: #fafafa;
}

/* Start screen section */
.ss-content {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    row-gap: 42px;
    justify-content: space-between;
    align-items: flex-start;
}

.ss-title {
    max-width: 310px;
    /* h2 */
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: normal;
    /* or 57px */

    display: flex;
    align-items: center;

    /* color-light-xl */

    color: #FFFFFF;
}

.ss-text {
    max-width: 460px;
    /* paragraph-l */

    font-family: 'Arial', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */

    display: flex;
    align-items: center;

    /* color-dark-s */

    color: #CDCDCD;
}

.btn-filled {
    background-color: #f1cdb3;
}

.btn-filled:hover {
    background-color: #fddcc4;
}

/* About section */
.about {
    padding-top: 83px;
    padding-bottom: 96px;
}

.about-content {
    flex-basis: 50.5%;
    padding-bottom: 8px;

    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.about-title {
    max-width: 370px;
}

.section-text {
    max-width: 430px;

    /* paragraph-l */

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* or 24px */


    /* color-dark-xl */

    color: #4C4C4C;
}

