body, html {
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    /*TODO Граница между блоками */
    padding-bottom: 10px;
    /* logo_title */
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 110%;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    /* color-primary */
    color: #F1CDB3;
}

.menu__block {
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    line-height: 1.3;
    letter-spacing: 0.06em;
    color: #545454;
}

.swtContainer{
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.btn {
    padding: 1em 2em;
    font-style: normal;
    line-height: 130%;
    letter-spacing: 0.06em;
    border-radius: 5em;
    transition: all 0.3s linear;
    background-color: transparent;
    border: 2px solid #F1CDB3;
}

.btn:hover {
    background-color: #fddcc4;
    border-color: #fddcc4;
}


.game_container {
    display: flex;
    border: 1px solid #CCC;
    margin-bottom: 10px;
    padding: 15px;
}

.row {
    display: flex;
}

.cell {
    width: 2em;
    height: 1.5em;
    border: 1px solid #CCC;
    padding: 10px 5px 5px 5px;
    background-color: #EEE;
    font-size: 16px;
    text-align: center;
    box-shadow: inset 5px 5px 10px #FFF, inset -3px -3px 5px #777;
    cursor: pointer;
    transition-property: background-color, box-shadow;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.cell__opened {
    background-color: #DDD;
    box-shadow: none;
}

.cell__flagged:after {
    font-family: "FontAwesome";
    content: '\f024';
}

.cell__mined  {
    background-color: red;
    font-family: "FontAwesome";

}
.cell__mined:after  {
    content: '\f1e2';
}

.cell__1 {
    color: blue;
}

.cell__2 {
    color: green;
}

.cell__3 {
    color: red;
}

.cell__4 {
    color: purple;
}

.cell__5 {
    color: maroon;
}

.cell__6 {
    color: turquoise;
}

.cell__7 {
    color: black;
}

.cell__8 {
    color: white;
}

.switch-btn {
    display: inline-block;
    width: 2.2em; /* ширина */
    height: 1.2em; /* высота */
    border-radius: 0.5em; /* радиус скругления */
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
    content: "";
    height: 1em; /* высота кнопки */
    width: 1em; /* ширина кнопки */
    border-radius: 0.5em;
    background: #fff; /* цвет кнопки */
    top: 3px; /* положение кнопки по вертикали относительно основы */
    left: 3px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
}
.switch-on {
    background: #F1CDB3;
}
.switch-on::after {
    left: 1em;
}

@media (max-width: 767px) {
    .menu__block {
        flex-direction: column;
        gap: 0;
    }
}