* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    color: $color-light;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    font-family: "Exo 2", "Lato", "Helvetica Neue", sans-serif;
}

h3 {
    padding-bottom: 10px;
}

h4 {
    padding-bottom: 15px;
}

.app-container {
    position: relative;
    display: flex;
    flex-grow: 1;
    overflow-x: hidden;
}

.container_task {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $content-width;
    &_task {
        flex-basis: 20%;
    }
}

.container_editor {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: $content-width;
    width: 100%;
    flex-basis: 40%;
    &_task {
        flex-basis: 20%;
    }
}

.left-container {
    flex-grow: 4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    padding-right: 20px;
    background-color: $color-primary;
}

.right-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 370px;
    min-height: 100vh;
    /*position: fixed;
    top: 0;
    right: -100%;
    flex-grow: 1;
    padding: 20px 15px;*/
    background-color: $color-secondary;
    font-size: 1.5rem;
    line-height: 2.3rem;
    transition: .3s linear;
    overflow: hidden;
    z-index: 10;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .copyright {
    font-size: 2em;
    color: #333;
    text-align: center;
}
.footer .copyright a {
    color: #6c6874;
}
.footer .copyright a:hover {
    color: #555;
}

/* Tag treatment for the level helpers & examples */

tag {
    font-family: monospace, sans-serif;
    background-color: #2b2b2b;
    padding: 2px 7px;
    font-size: 1.3rem;
}

tag:before {
    content: "<";
}

tag:after {
    content: ">";
}
