.title-winners {
    padding-bottom: 3vh;
    text-align: left;
}

.table-winners {
    color: white;
    font-size: 1vw;
    border-collapse: collapse;
    text-align: left;
}

thead {
    background-color: rgb(42, 42, 241);
    font-weight: 200;
    border-collapse: collapse;
}
th, td {
    padding: 5px 10px;
}
